.card {
    position: relative;
}

.card img {
    width: 140px;
    height: 140px;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
}

.card .front {
    transform: rotateY(89deg); 
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
}