.App {
  max-width: 860px;
  margin: 20px auto;
}

h1 {
  margin: 20px;
  font-size: var(--font-title);
}

button {
  background: none;
  border: 2px solid var(--light-accent);
  padding: var(--btn-padding-top) var(--btn-padding-side);
  border-radius: 4px;
  color: var(--light-accent);
  font-weight: bold;
  cursor: pointer;
  font-size: var(--font-smaller);
}

button:hover {
  background-color: var(--btn-color);
  color: var(--light-accent);
}

.card-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}