.App {
  max-width: 860px;
  margin: var(--standard-margin) auto;
}

h1 {
  margin: var(--standard-margin);
  font-size: var(--font-title);
}

button {
  background: none;
  border: 2px solid var(--light-accent);
  padding: var(--btn-padding-top) var(--btn-padding-side);
  border-radius: 4px;
  color: var(--light-accent);
  font-weight: bold;
  cursor: pointer;
  font-size: var(--font-smaller);
}

button:hover {
  background-color: var(--btn-color);
  color: var(--light-accent);
}

.card-grid {
  width: 90%;
  /* border: 4px solid hotpink; */
  margin: var(--standard-margin) auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
  gap: 2vw;
}

p {
  margin-top: var(--standard-margin)
}