.App {
  max-width: 860px;
  margin: var(--standard-margin) auto;
}

h1 {
  margin: var(--standard-margin);
  font-size: var(--font-title);
}

button {
  background: none;
  border: 2px solid var(--light-accent);
  margin: var(--standard-margin);
  padding: var(--btn-padding-top) var(--btn-padding-side);
  border-radius: 4px;
  color: var(--light-accent);
  font-weight: bold;
  cursor: pointer;
  font-size: var(--font-smaller);
}

button:hover {
  background-color: var(--btn-color);
  color: var(--light-accent);
}

.card-grid {
  width: 100%;
  margin: var(--standard-margin) auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
}

p {
  margin-top: 30px;
}