@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

:root{
  --btn-color: #045D5D;
  --btn-color-alternative: #c23866;
  --light-accent: #E6D4B3;
}

body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  background-color: #1b1523;
  color: var(--light-accent);
}

img{
  width: 106px;
  height: 160px;
}